.cont {
  width: 70%;

  h2 {
    width: 107%;
    padding-bottom: 2px;
    border-bottom: 2px solid blue;
  }
}

.form {
  input {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }

  label {
    display: block;
    margin: 15px 0px;
    font-weight: 1.1rem;
  }
}

.btnClose {
  position: absolute;
  display: block;
  background-color: transparent;
  border: none;
  right: 2%;
  top: 5%;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  background-color: transparent;
  color: azure;
  font-size: 1.3rem;
  margin: 1rem;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.btnLogIn {
  background-color: coral;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 1.2rem;

  &:hover {
    cursor: pointer;
  }
}
