.message{
    font-size: 3rem;
    color: azure;
    padding: 0.5rem;
    text-align: center;
}

.cont{
    background-color: cornflowerblue;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}